*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    position: relative;
}

.section{
    height: 100vh;
    display: flex;
}

.sidebar {
    position: fixed;
    width: 6.25vw;
    z-index: 300;
    /* height: 100%; */
    right: 0;
    top: 0;
    padding-top: 4vh;
    height: 80vh;
}

.sidebar nav ul {
    padding: 0;
    margin: auto;
    height: 60vh;
}

.sidebar nav ul li {
    display: block;
    list-style: none;
    padding: 0;
    margin-bottom: 5vh;
}

.sidebar nav ul li a {
    display: block;
    text-decoration: none;
    margin: 0 auto;
    padding: 10px 20px;
    width: 40px;
    position: relative;
    color: white;
    font-size: 1vw;
    text-transform:  uppercase;
    writing-mode: vertical-lr;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all .5s cubic-bezier(0.6, 0, 0.5, 1);
    -moz-transition: all .5s cubic-bezier(0.6, 0, 0.5, 1);
    transition: all .5s cubic-bezier(0.6, 0, 0.5, 1);
}


/*
.sidebar nav ul li a::after {
    content: attr(data-text);
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    background-color: #242121;
    display: block;
    height: 100vh;
    font-size: 30px;
    line-height: 10vh;
    font-weight:  700;
    text-transform: uppercase;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all .5s cubic-bezier(0.6, 0, 0.5, 1);
    -moz-transition: all .5s cubic-bezier(0.6, 0, 0.5, 1);
    transition: all .5s cubic-bezier(0.6, 0, 0.5, 1);
}


.sidebar nav ul li a:hover:after {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0)
}

.sidebar nav ul li a:hover div {
    opacity: 0;
    -webkit-transform: translateX(3.125vw) rotate(180deg);
    -moz-transform: translateX(3.125vw) rotate(180deg);
    -ms-transform: translateX(3.125vw) rotate(180deg);
    -o-transform: translateX(3.125vw) rotate(180deg);
    transform: translateX(3.125vw) rotate(180deg);
    width: 50%;
}*/

#div-projet {
    background-color: black;
    color: white;
    padding-left: 50%;
    width: 260px;
    height: 100vh;
    font-size: 30px;
    line-height: 10vh;
    font-weight:  700;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    right: -300px;
    display: block;
    z-index: 201;
    transition: 0.7s;
}

.nav-projet:hover + #div-projet {
    right: 0;
    transition: 0.7s;

}



#div-voir {
    background-color: black;
    color: white;
    padding-top: 260%;
    padding-left: 50%;
    width: 260px;
    height: 100vh;
    font-size: 30px;
    line-height: 10vh;
    font-weight:  700;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    right: -300px;
    display: block;
    z-index: 201;
    transition: 0.7s;
}

.nav-voir:hover + #div-voir {
    right: 0;
    transition: 0.7s;
}




#div-connexion {
    background-color: black;
    color: white;
    padding-top: 480%;
    padding-left: 50%;
    width: 260px;
    height: 100vh;
    font-size: 30px;
    line-height: 10vh;
    font-weight:  700;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    right: -300px;
    display: block;
    z-index: 201;
    transition: 0.7s;
}

.nav-connexion:hover + #div-connexion {
    right: 0;
    transition: 0.7s;
}

#div-contact {
    background-color: black;
    color: white;
    padding-top: 650%;
    padding-left: 50%;
    width: 260px;
    height: 100vh;
    font-size: 30px;
    line-height: 10vh;
    font-weight:  700;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    right: -300px;
    display: block;
    z-index: 201;
    transition: 0.7s;
}

.nav-contact:hover + #div-contact {
    right: 0;
    transition: 0.7s;

}

.all-content {
    width: 100%;
    transition: 0.5s;
}

.nav-active {
    width: 90%;
    transition: 0.5s;
    transition-delay: 0.9s;
}



.sidebar nav ul li:first-child a {
    padding-top: 0
}

.sidebar nav ul li:last-child a {
    padding-bottom: 0
}


h1{
    margin: auto;
    width: 50%;
    font-size: 2vw;
    margin-top: 2%;
    text-align: center;
}

#div-logo{
    width: 30%;
    margin: auto;
}

.section-home{
    height: 100vh;
    display: flex;
}

#first-section-content{
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
}

#second-section-content{
    width: 70%;
    margin: auto;
    font-size: 2.2vw;
    text-align: center;
    font-weight: 700;
}

#third-section-content{
    width: 70%;
    margin: auto;
    font-size: 2vw;
    text-align: center;
    font-weight: 700;
}

#fourth-section-content{
    width: 70%;
    margin: auto;
    font-size: 1vw;
    text-align: center;
    font-weight: 600;
}


#second-section {
    background-color: black;
    background-image: url(../img/background1.svg);
    color: #ffff;
    background-size: contain;
}

#fourth-section{
    background-color: #679BD7;
    background-image: url(../img/background2.svg);
    color: #ffff;
    background-size: contain;
}

#monkey{
    width: 3%;
    display: block;
    margin: auto;
    position: relative;
    top: 23vh;
    animation-name: animation-monkey;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes animation-monkey {
    0%   {top: 23vh;}
    50%  {top: 26vh;}
    100% {top: 23vh;}
}

/*#monkey::before{
    animation: float 1s ease-in-out infinite alternate;
}*/


/* FORM MAIL */

.mc-field-group{
    width: 60%;
    display: block;
    margin: auto;
    margin-top: 3%;
}

#mce-EMAIL{
    width: 80%;
    border: none;
    border-radius: 0.8vw;
    padding: 5%;
}

::placeholder{
    font-size: 1.2vw;
    color: #9B9B9B;
    margin-left: 5%;
}

#mce-EMAIL[type=text]{
    font-size:30px;
    color: #9B9B9B;
}

#clear{
    position: relative;
    width: 54%;
    margin: auto;
    height: 30px;
}

#mc-embedded-subscribe{
    position: absolute;
    right: 3%;
    top: -157%;
    border:  none;
    /* background-color:  #679BD7; */
    background-color: transparent;
    background-image: url("../img/mail.svg");
    width: 2vw;
    height: 2vw;
    cursor: pointer;
    background-size: 100%;
}

#copyright {
    width: 40%;
}

#rs {
    width: 60%;
    margin-left: 30%;
}

#rs a{
    text-decoration: underline;
    color: white;
    padding: 8%;
}

footer{
    width: 95%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    position: absolute;
    bottom: 0;
}

footer ul{
    display: flex;
    list-style: none;
    font-weight: 700;
    padding: 1%;
    color: #fff;
    justify-content: space-around;
}

/* PAGE LOG / Connection */
#background-log{
    display: flex;
    width: 100vw;
    height: 100vh;
}

#section-log{
    width: 50vw;
    height: 40vh;
    margin: auto;
    display: flex;
}

#connection, #inscription{
    width: 50%;
}

label{
    display: block;
}

#connection form, #inscription form{
    width: 70%;
    margin: auto;
}

#connection input{
    width: 100%;
    border: 1px solid black;
    border-radius: 0.5vw;
    padding: 3%;
}

#inscription input{
    width: 100%;
    border: 1px solid black;
    border-radius: 0.5vw;
    padding: 3%;
}

#connection label{
    margin-bottom: 2%;
}

#inscription label{
    margin-bottom: 2%;
}

.form-group-co{
    margin-top: 6%;
}

form h3{
    text-align: center;
    font-size: 1.3vw;
}

.btn-primary{
    background-color: #679BD7 ;
    color: #fff;
    border: none;
    padding: 3%;
    padding-left: 10%;
    padding-right: 10%;
    -webkit-border-radius: 0.5vw;
    -moz-border-radius: 0.5vw;
    border-radius: 0.5vw;
    font-size: 1vw;
}

.none{
    display: none;
}

#form-co{
    width: 20%;
    margin: auto;
}

#form-ins{
    width: 20%;
    margin: auto;
}

.form-group-co input{
    width: 94%;
    padding:3%;
    border-radius: 0.5vw;
    border: none;
}

.form-group-co label{
    margin-bottom: 5%;
    color: #fff;
    font-weight: 500;
    font-size: 1.1vw;
}

#form-co h2{
    font-size: 1.5vw;
    margin-bottom: 20%;
    text-align: center;
    color: #fff;
}

#section-co{
    display: flex;
    height: 100vh;
    background-color: #679BD7;
}

#section-ins{
    display: flex;
    height: 100vh;
}

.form-group-co button{
    width: 100%;
    padding: 2.5%;
    border-radius: 0.5vw;
    background-color: #fff;
    color: #679BD7;
    font-size: 1.1vw;
    border: none;
    margin-top: 20%;
    transition: 0.5s;
    cursor: pointer;
    font-weight: 500;
}

.form-group-co button:hover{
    transition: 0.5s;
    color: #3f3f3f;
}

.link-co{
    text-decoration: none;
    text-align: center;
    margin: auto;
    color: #fff;
    margin-top: 5%;
    display: block;
    width: 50%;
}

.underline{
    height: 0.3vh;
    width: 0%;
    background-color: #fff;
    margin: auto;
    margin-top: 1%;
    transition: 0.5s;
}

.link-co:hover .underline{
    width: 50%;
    transition: 0.5s;

}
input::placeholder{

}

#div-logo-co{
    width: 10%;
    position: absolute;
    top: 3%;
    left: 3%;
}
#section-co{
    display: flex;
    height: 100vh;}

.form-group-ins input{
    width: 94%;
    padding:3%;
    border-radius: 0.5vw;
    border: 1px solid black;
}
.form-group-ins label{
    margin-bottom: 3%;
    margin-top: 3%;
    font-weight: 500;
    font-size: 1.1vw;
}
#form-ins h2{
    font-size: 1.5vw;
    margin-bottom: 20%;
    text-align: center;
}
#check-box{
    display: flex;
margin-top: 5%}
.div-check-box{
    display: flex;
    width: 50%;
}
.div-check-box input{
    margin-top: auto;
    margin-bottom: auto;
    width: 15%;
}
.div-check-box label{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 0.75vw;
    width:85%;
}
.form-group-ins button{
    width: 100%;
    padding: 2.5%;
    border-radius: 0.5vw;
    background-color: #679BD7;
    color: #fff;
    font-size: 1.1vw;
    border: none;
    margin-top: 20%;
    transition: 0.5s;
    cursor: pointer;
    font-weight: 500;
}