<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Lugh{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/app.css') }}">

            <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900" rel="stylesheet">

        {% endblock %}
    </head>
    <body>
    <div class="sidebar" id="sidebar">
        <nav>
            <ul>
                <li><a class="btn-menu nav-projet" href="/" data-text="deposer un projet">deposer un projet</a>
                    <div id="div-projet">deposer un projet</div>
                </li>
                <li><a class="btn-menu nav-voir" href="/" data-text="Voir les artistes">Voir les artistes</a>
                    <div id="div-voir">Voir les artistes</div>
                </li>
                <li><a class="btn-menu nav-connexion" href="/login" data-text="Se connecter">Se connecter</a>
                    <div id="div-connexion">Se connecter</div>
                </li>
                <li><a class="btn-menu nav-contact" href="/" data-text="Contact">Contact</a>
                    <div id="div-contact">Contact</div>
                </li>
            </ul>
        </nav>
    </div>

    <div class="all-content">
    {% block layout_content %}
            {% endblock %}
    </div>

    <footer>
        <div id="copyright">
            <ul>
                <li>© Lugh</li>
                <li>Presse</li>
                <li>Livre Blanc</li>
            </ul>
        </div>
        <div id="rs">
            <ul>
                <li><a target="_blank" href="https://twitter.com/Hello_lugh">twitter</a></li>
                <li><a target="_blank" href="https://www.facebook.com/Lugh-art-sur-commande-en-entreprise-567883830278473/">facebook</a></li>
                <li><a target="_blank" href="https://www.instagram.com/lugh_france/">instagram</a></li>
                <li><a target="_blank" href="https://www.linkedin.com/company/lugh-entreprise/">linkedin</a></li>
                <li><a target="_blank" href="https://medium.com/@lugh.entreprise">medium</a></li>
            </ul>
        </div>
    </footer>



    {% block javascripts %}
        <script src="{{ asset('assets/js/jquery.js') }}"></script>
        <script src="{{ asset('assets/js/scrollreveal.js') }}"></script>
        <script src="{{ asset('assets/js/app.js') }}"></script>


        <script>


        $(document).ready(function(){
            $("#first-section").hover(function(){
                $(".sidebar nav ul li a").css("color", "black");
            });
        });

        $(document).ready(function(){
            $("#second-section").hover(function(){
                $(".sidebar nav ul li a").css("color", "white");
            });
        });


        $(document).ready(function(){
            $("#third-section").hover(function(){
                $(".sidebar nav ul li a").css("color", "black");
            });
        });

        $(document).ready(function(){
            $("#fourth-section").hover(function(){
                $(".sidebar nav ul li a").css("color", "white");
            });
        });


        window.sr = ScrollReveal({ reset: true });
        sr.reveal('#second-section');
        sr.reveal('#third-section');
        sr.reveal('#fourth-section');



        $(".sidebar").hover(function() {
            $(".all-content").addClass("nav-active");
        });


        $(document).ready(function() {
            $('.sidebar').hover(function(){
                    $('.all-content').addClass('nav-active');
                },
                function(){
                    $('.all-content').removeClass('nav-active');
                });
        });


        </script>

    {% endblock %}
    </body>
</html>